.foot {
  width: 100%;

  .cancel {
    border: 0;
    color: #3fc28c;
    width: 100px;
    height: 35px;
    font-size: 18px;
  }

  .confirm {
    font-size: 18px;
    height: 35px;
    border: 0;
    width: 275px;
    background-color: #98ef98;
  }
}