.root {
  margin: 15px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


  :global {
    .iconfont {
      font-size: 22px !important;
    }

    .green {
      color: orangered !important;
    }
  }
}